*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
}


.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-fe {
        justify-content: flex-end;
    }

    &-ai-c {
        align-items: center;
    }

    &-jc-e {
        justify-content: flex-end;
    }

    &-col {
        flex-direction: column;
    }
}


.grid {
    display: grid;

    &-col-1-2 {
        grid-template-columns: 1fr 2.5fr;
    }

    &-one-col {
        grid-template-columns: 1fr;
    }

    &-two-col {
        grid-template-columns: repeat(2, 1fr);
    }

    &-two-rows {
        grid-template-rows: 1fr 1.5fr;
    }

    &-two-row {
        grid-template-rows: .6fr 2fr;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-s {
        justify-content: start;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-e {
        align-items: flex-end;
    }
}
