$darkViolet: #2d2640;
$grayishBlue: #95a9c6;
$veryDarkViolet: #2b272f;
$darkGrayishViolet: #837d87;
$veryLightGray: #fafafa;
$white: #ffffff;

// DM Serif for Heading
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
// Karla for Body
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');