.home {
    background: $darkViolet;
    height: 100vh;

    @include respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .homeOne {
        height: 100%;

        @include respond(phone) {
            grid-row: 2 / 3;
        }

        .boxOne {
            position: relative;
            height: 80%;
            width: 100%;

            @include respond(phone) {
                display: none;
            }
            
            span {
                position: absolute;
                margin-left: 6rem;
                margin-bottom: 2rem;
                width: 15rem;
                border: .1px solid $white;
            }
        }

        .boxTwo {
            justify-self: center;
            padding: 0 6rem;
            width: 100%;
            row-gap: 4rem;

            @include respond(phone) {
                justify-content: center;
                align-items: center;
            }

            h1 {
                color: $veryLightGray;
                font-family: DMserif;
                font-size: 7.2rem;
                letter-spacing: .1px;
                line-height: 6rem;

                @include respond(phone) {
                    line-height: 3rem;
                    font-size: 3rem;
                }

                @include respond(mid) {
                    font-size: 5rem;
                }
            }

            p {
                color: $veryLightGray;
                font-family: Karla, sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.5rem;
            }

            button {
                cursor: pointer;
                color: $veryLightGray;
                background: $darkViolet;
                padding: 1rem 3.5rem;
                border: 2px solid $veryLightGray;
                align-self: flex-start;
                font-family: Karla, sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 1px;

                &:hover {
                    background: $veryLightGray;
                    color: $darkViolet;
                }

                @include respond(phone) {
                    align-self: center;
                }
            }
        }
    }

    .homeTwo {
        height: 100%;

        @include respond(phone) {
            border: solid #fff;
            //height: 60vh;
            grid-row: 1 / 2;
        }

        .contentOne {
            position: relative;
            height: 130%;
            background-repeat:  no-repeat;
            background-image: url('../../images/intro-desk-right.svg'), url('../../images/image-intro-desktop.jpg');
            background-position: top -10rem right, bottom left;

            @include respond(phone) {
                height: 100%;
                background-size: contain;
                background-image: url('../../images/image-intro-mobile.jpg');
                background-position: center;
            }
        }
    }
}