.home {
    background: $darkViolet;
    height: 100vh;

    @include respond(phone) {
        height: 120vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .homeOne {
        height: 100%;

        @include respond(phone) {
            height: 64.5vh;
            grid-row: 2 / 3;
        }

        .boxOne {
            width: 50%;

            @include respond(phone) {
                display: none;
            }
            
            span {
                margin-right: 4rem;
                margin-top: 5rem;
                width: 15rem;
                border: .1px solid $white;
            }
        }

        .boxTwo {
            justify-self: center;
            width: 85%;
            margin-left: 3rem;

            @include respond(phone) {
                //display: none;
                margin-left: 0;
                width: 100%;
                height: 57rem;
            }

            h1 {
                margin-top: 3rem;
                color: $veryLightGray;
                font-family: DMserif;
                font-size: 7.2rem;
                letter-spacing: .1px;
                line-height: 6rem;

                @include respond(phone) {
                    margin-top: 0;
                    font-size: 1rem;
                }
            }

            p {
                margin: 3rem 0;
                color: $veryLightGray;
                font-family: Karla, sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.5rem;

                @include respond(phone) {
                    margin: 0;
                    font-size: 1rem;
                }
            }

            button {
                color: $veryLightGray;
                background: $darkViolet;
                padding: 1rem 3.5rem;
                border: 2px solid $veryLightGray;
                align-self: flex-start;
                font-family: Karla, sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }

    .homeTwo {
        height: 100%;

        @include respond(phone) {
            height: 55.5vh;
            grid-row: 1 / 2;
        }

        .contentOne {
            position: relative;
            margin-top: 10rem;
            height: 120%;
            background-repeat:  no-repeat;
            background-image: url('../../images/image-intro-desktop.jpg');

            @include respond(phone) {
                padding: 0;
                margin-top: 0;
                height: 100%;
                background-size: contain;
                //background-size: cover;
                background-image: url('../../images/image-intro-mobile.jpg');
            }

            .imgBox {
                overflow: hidden;
                top: -10rem;
                left: 19rem;
                position: absolute;

                @include respond(phone) {
                    display: none;
                }

                img {
                    margin-top: -10rem;
                }
            }
        }
    }
}