.home {
    background: $darkViolet;
    height: 60rem;

    @include respond(phone) {
        //height: 120vh;
        height: 100rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .homeOne {
        height: 100%;

        @include respond(phone) {
            //height: 55vh;
            grid-row: 2 / 3;
        }

        .boxOne {
            justify-self: right;
            position: relative;
            height: 80%;
            width: 90%;
            margin-bottom: 2rem;

            @include respond(phone) {
                display: none;
            }
            
            span {
                position: absolute;
                margin-left: 6rem;
                margin-bottom: 2rem;
                width: 15rem;
                border-bottom: .1px solid $white;
            }
        }

        .boxTwo {
            justify-self: right;
            padding: 0 6rem;
            width: 90%;
            row-gap: 3rem;

            @include respond(phone) {
                width: 100%;
                padding: 0;
                justify-content: center;
                align-items: center;
                row-gap: 3rem;
                background-repeat: no-repeat;
                background-position: top left, bottom -15rem right;
                background-image: url('../../images/left-mobile.svg'), url('../../images/right-mobile.svg');
            }

            h1 {
                color: $veryLightGray;
                font-family: DMserif;
                //font-size: 7.2rem;
                font-size: 5.8rem;
                letter-spacing: .1px;
                line-height: 6rem;
                display: grid;

                @include respond(phone) {
                    height: 30%;
                    width: 100%;
                    line-height: 3rem;
                    font-size: 5rem;
                    justify-content: center;
                    align-items: flex-end;

                    #human {
                        margin-left: 3rem;
                        margin-bottom: -2rem;
                    }
                }
            }

            p {
                color: $veryLightGray;
                font-family: Karla, sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.5rem;
                padding: 0 1rem 0 0;
                width: 110%;

                @include respond(phone) {
                    width: 90%;
                    padding: 0rem;
                }
            }

            button {
                cursor: pointer;
                color: $veryLightGray;
                background: $darkViolet;
                padding: 1rem 3.5rem;
                border: 2px solid $veryLightGray;
                align-self: flex-start;
                font-family: Karla, sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 1px;

                &:hover {
                    background: $veryLightGray;
                    color: $darkViolet;
                }

                @include respond(phone) {
                    align-self: center;
                }
            }
        }
    }

    .homeTwo {
        height: 100%;

        @include respond(phone) {
            //height: 65vh;
            grid-row: 1 / 2;
        }

        .contentOne {
            position: relative;
            height: 125%;
            //height: 100%;
            background-repeat:  no-repeat;
            background-image: url('../../images/intro-desk-right.svg'), url('../../images/image-intro-desktop.jpg');
            //background-position: top -10rem right, bottom left;
            background-position: top -9rem right, bottom left;

            @include respond(phone) {
                height: 100%;
                background-size: contain;
                background-size: cover;
                background-image: url('../../images/image-intro-mobile.jpg');
                background-position: center;
            }
        }
    }
}