
.navbar {
    position: relative;
    //height: 9vh;
    height: 7rem;

    .navOne {
        
        img {
            cursor: pointer;
            margin-left: 13rem;

            @include respond(phone) {
                margin: 0 4rem;
            }
        }
    }

    .navTwo {
        //width: 93%;
        width: 85%;

        @include respond(phone) {
            display: none;
        }

        li {
            cursor: pointer;
            letter-spacing: .1rem;
            color: $darkGrayishViolet;
            font-family: Karla, sans-serif;
            font-size: 1.3rem;
            font-weight: 700;
            margin: 0 1.6rem 0 1.6rem;
            list-style: none;

            &:hover {
                color: $veryDarkViolet;
            }

            &:last-child {
                color: $veryDarkViolet;
                border: 2px solid;
                //padding: 1rem 2.5rem;
                padding: .8rem 2.1rem;
                transition: 0.4s ease-in;

                &:hover {
                    color: $veryLightGray;
                    background: $veryDarkViolet;
                }
            }
        }
    }

    .navThree {
        display: none;

        @include respond(phone) {
            display: grid;

            img {
                cursor: pointer;
                margin: 0 3rem;
            }
        }
    }

    .mobileMenu {
        z-index: 100;
        margin-top: 10vh;
        background: $veryDarkViolet;
        position: absolute;
        height: 86vh;
        width: 100%;
        background-image: url('../../images/bottom.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom -15rem;
        animation-duration: 2s;
        animation-name: slidein;

        @include respond(desk) {
            display: none;
        }

        li {
            cursor: pointer;
            letter-spacing: .1rem;
            color: $veryLightGray;
            font-family: Karla, sans-serif;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 3.5rem;
            list-style: none;

            &:first-child {
                margin-top: 5rem;
            }

            &:hover {
                color: $grayishBlue;
            }

            &:last-child {
                color: $veryLightGray;
                border: 1.5px solid;
                padding: 1.5rem 10rem;
                transition: 0.4s ease-in;

                &:hover {
                    color: $veryDarkViolet;
                    background: $veryLightGray;
                }
            }
        }
    }

    @keyframes slidein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}